$colores: (
    stout: #4a3037,
    pale:  #e7d84a,
    porter:#2f3732,
    dark: #080808,
    golden:  rgb(255, 183, 0),
    letter: #ffffff,
    shadow: rgba(0, 0, 0, 0.5),
);

$cervezas:(
    stout: #4a3037,
    pale:  #e7d84a,
    porter:#2f3732,
);