@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

html {
  height: 100%;
}

/* GRID AREA */
.gridContainer {
  min-height: 100%;
  display: grid;
  grid-template: "header" 150px "main" auto "footer" 170px;
}
.gridContainer .header {
  /* HEADER */
  grid-area: header;
  background: #080808;
  display: flex;
  justify-content: center;
  border-bottom: solid 3px rgb(255, 183, 0);
}
.gridContainer .header .nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  max-width: 1440px;
}
.gridContainer .header .nav .navMenu {
  display: flex;
  gap: 20px;
}
.gridContainer .header .nav .navMenu .navMenuItem {
  list-style: none;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: 100;
}
.gridContainer .header .nav .navMenu .navMenuItem .navMenuLink {
  text-decoration: none;
  position: relative;
}
.gridContainer .header .nav .navMenu .navMenuItem .navMenuLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  background: rgb(255, 183, 0);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
.gridContainer .header .nav .navMenu .navMenuItem .navMenuLink:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.gridContainer .header .nav .navMenu .navMenuItem .navMenuLink:hover {
  color: rgb(255, 183, 0);
  transition: color 0.5s ease-in-out;
  text-shadow: 1px 1px 5px;
  font-weight: 200;
}
.gridContainer .header .nav .menuToggle {
  color: #ffffff;
  background: none;
  border: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  display: none;
  cursor: pointer;
}
.gridContainer .header .nav .menuToggle .toggle {
  width: 50px;
  height: 50px;
}
.gridContainer .main {
  /* MAIN */
  grid-area: main;
  background: linear-gradient(180deg, #080808, #4a3037);
}
.gridContainer .main #section1 {
  /* SECCION INDEX */
}
.gridContainer .main #section1 .tituloPrincipal, .gridContainer .main #section1 .containerNoticias h3, .gridContainer .main #section1 h2 {
  width: 40%;
  margin: auto;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
  padding-top: 15px;
  border-bottom: 1px solid rgb(255, 183, 0);
}
.gridContainer .main #section1 h2 {
  font-size: 1.8rem;
  border-bottom: none;
  padding-top: 5px;
  font-weight: 300;
}
.gridContainer .main #section1 .containerVideo {
  display: flex;
  justify-content: center;
}
.gridContainer .main #section1 .containerVideo .iframe {
  width: 1200px;
  height: 680px;
}
.gridContainer .main #section1 .containerNoticias {
  margin: 20px;
}
.gridContainer .main #section1 .containerNoticias h3 {
  font-size: 1.7rem;
  padding-top: 25px;
  letter-spacing: 2px;
  font-weight: 200;
}
.gridContainer .main #section1 .containerNoticias p {
  margin: auto;
  width: 67%;
  font-weight: 100;
  padding-top: 20px;
  font-size: 1.6rem;
  line-height: 40px;
  text-align: justify;
}
.gridContainer .main #section2 h3 {
  margin: auto;
  width: 40%;
  font-size: 1.7rem;
  text-align: center;
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: 200;
  border-bottom: 1px solid rgb(255, 183, 0);
}
.gridContainer .main #section2 .boxGaleria {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  margin-bottom: 70px;
  margin-top: 50px;
}
.gridContainer .main #section2 .boxGaleria .boxBloque {
  position: relative;
  width: 400px;
  height: 500px;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-top: 45px;
}
.gridContainer .main #section2 .boxGaleria:hover .boxBloque {
  transform: rotateY(25deg);
}
.gridContainer .main #section2 .boxGaleria .boxBloque:hover {
  transform: rotateY(0deg) scale(1.2);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.gridContainer .main #section2 .boxGaleria .boxBloque:hover ~ .boxBloque {
  transform: rotateY(-25deg);
}
.gridContainer .main #section2 .boxGaleria .boxBloque .boxImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gridContainer .main #section2 .boxGaleria .boxBloque .boxImg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, gold, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.gridContainer .main #section2 .boxGaleria .boxBloque:hover .boxImg:before {
  opacity: 1;
}
.gridContainer .main #section2 .boxGaleria .boxBloque .boxImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gridContainer .main #section2 .boxGaleria .boxBloque .boxContenido {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.gridContainer .main #section2 .boxGaleria .boxBloque .boxContenido h2 {
  transition: 0.5s;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 200;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.gridContainer .main #section2 .boxGaleria .boxBloque:hover .boxContenido h2 {
  transform: translateY(0px);
}
.gridContainer .main #section2 .boxGaleria .boxBloque .boxContenido p {
  text-align: center;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.gridContainer .main #section2 .boxGaleria .boxBloque:hover .boxContenido p {
  transform: translateY(0px);
}
.gridContainer .footer {
  /* FOOTER */
  grid-area: footer;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  margin: auto;
  background: #080808;
  border-top: solid 3px rgb(255, 183, 0);
  text-align: center;
}
.gridContainer .footer .containerFooter {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}
.gridContainer .footer .containerFooter .containerSocial .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 30%;
  overflow: hidden;
  position: relative;
}
.gridContainer .footer .containerFooter .containerSocial .btn ion-icon {
  font-size: 2rem;
}
.gridContainer .footer .containerFooter .containerSocial .btn .facebook {
  color: #4267b2;
}
.gridContainer .footer .containerFooter .containerSocial .btn .instagram {
  color: #833ab4;
}
.gridContainer .footer .containerFooter .containerSocial .btn:hover ion-icon {
  color: #ffffff;
  transform: scale(1.3);
}
.gridContainer .footer .containerFooter .containerSocial .btn:hover::before {
  -webkit-animation: onHover 0.7s 1;
          animation: onHover 0.7s 1;
  left: -10%;
  top: -10%;
}
.gridContainer .footer .containerFooter .containerSocial .btnFacebook::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: linear-gradient(#00b2ff, #006aff);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.gridContainer .footer .containerFooter .containerSocial .btnInstagram::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: linear-gradient(#833ab4, #f77737, #ffdc80);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

@-webkit-keyframes onHover {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

@keyframes onHover {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}
@media (max-width: 768px) {
  .noScrollBody {
    overflow-y: hidden;
    max-width: 100vh;
  }
  .noScrollHtml {
    overflow-y: hidden;
  }
  .gridContainer .header .nav {
    margin: 0 25px;
  }
  .gridContainer .header .nav .navMenu {
    flex-direction: column;
    align-items: center;
    background: #4a3037;
    gap: 0;
    position: fixed;
    left: 100%;
    top: 150px;
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: hidden;
    transition: left 0.5s ease-in-out;
    z-index: 1;
  }
  .gridContainer .header .nav .navMenu .navMenuItem {
    margin: 20px 0;
    line-height: 30px;
  }
  .gridContainer .header .nav .menuToggle {
    display: block;
  }
  .gridContainer .header .nav .navMenu_visible {
    left: 0;
  }
  .gridContainer .main #section1 .tituloPrincipal, .gridContainer .main #section1 h2, .gridContainer .main #section1 .containerNoticias h3 {
    width: 90%;
    font-size: 1.5rem;
  }
  .gridContainer .main #section1 h2 {
    font-size: 1.4rem;
  }
  .gridContainer .main #section1 .containerVideo .iframe {
    width: 600px;
    height: 300px;
  }
  .gridContainer .main #section1 .containerNoticias h3 {
    font-size: 0.9rem;
  }
  .gridContainer .main #section1 .containerNoticias p {
    font-size: 0.8rem;
    line-height: 20px;
    width: 90%;
  }
  .gridContainer .main #section2 .boxGaleria .boxBloque {
    width: 220px;
    height: 275px;
    margin-top: 0px;
  }
  .gridContainer .main #section2 h3 {
    width: 80%;
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .gridContainer .main #section1 .containerVideo .iframe {
    width: 300px;
    height: 180px;
  }
  .gridContainer .main #section2 .boxGaleria {
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .gridContainer .main #section2 .boxGaleria .boxBloque {
    margin-top: 45px;
  }
  .gridContainer .main #section2 .boxGaleria:hover .boxBloque {
    transform: rotateX(-25deg);
  }
  .gridContainer .main #section2 .boxGaleria .boxBloque:hover {
    transform: rotateX(0deg) scale(1.2);
  }
  .gridContainer .main #section2 .boxGaleria .boxBloque:hover ~ .boxBloque {
    transform: rotateX(25deg);
  }
  .gridContainer .main #section2 .boxGaleria .boxBloque .boxContenido h2 {
    transform: translateY(200px);
  }
  .gridContainer .main #section2 .boxGaleria .boxBloque:hover .boxContenido h2 {
    transform: translateY(0px);
  }
  .gridContainer .main #section2 .boxGaleria .boxBloque .boxContenido p {
    transform: translateY(200px);
  }
  .gridContainer .main #section2 .boxGaleria .boxBloque:hover .boxContenido p {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=main.css.map */